NUXT_PUBLIC_SPACE_ID=
NUXT_PUBLIC_STORYBLOK_ACCESS_TOKEN=
NUXT_PUBLIC_GTM_ID=
NUXT_PUBLIC_GTM_SERVER_URL=
NUXT_PUBLIC_FOLDER_SPACE=


NUXT_AUTH_PASSWORD=preview
NUXT_PUBLIC_AUTH_ENABLED=false
#NUXT_AUTH_TOKEN=

# Public Host (NODE_ENV: RuntimeValue<string, "You can override this value at runtime with NUXT_PUBLIC_NODE_ENV"> | undefined)
NUXT_PUBLIC_NODE_ENV=development
PORT=3000

# Idk why NUXT_PUBLIC_NODE_ENV and NODE_ENV are needed, but there are kinda the same
NUXT_PUBLIC_NODE_ENV=DEV
PORT=3000